venv/
__pycache__/
.bashrc
.bash_history
.ssh/
.cache/
.vscode-server/
.copilot/
*.log
.coverage
.pytest_cache/
.bash_logout
.gitconfig
.lesshst
.profile
.sudo_as_admin_successful
.wget-hsts
.dotnet/corefx/cryptography/crls/
.cursor/
.cursor-server/
.cursor-skills/
**cursor/
**.env
*/logs/
*/nfcapd*
logs/
script.py.mako
agents/
.agents/
.vscode
.github/
.gitignore